@inherits Azeroth.MVC.ViewPageCSHtml
@{
    this.Layout = "/Layout/LayoutContainerFluid.cshtml";
    this.Title = "Import";
}

@section style{

}
@section script{

}
<div class="row" >
    <div class="col-md-6">11111</div>
    <div class="col-md-6">22222222</div>
</div>

